{{- $backend := .Backend -}}
<?xml version="1.0" encoding="UTF-8"?>
<rss
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:media="http://search.yahoo.com/mrss/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  version="2.0">
  <channel>
    <atom:link href="https://connor.zip/emails2rss/feeds/{{ $backend.Name }}" rel="self" type="application/rss+xml" />
    <title>{{ $backend.Name }}</title>
    <link>https://connor.zip/posts/2024-11-03-email2podcast</link>
    <language>en-us</language>
    <description>A series of emails presented as a feed</description>
    {{- range .Items }}
    <item>
        <title>{{.Subject}}</title>
        <link>https://connor.zip/email2rss/{{ $backend.Name }}/items/{{ .Key }}</link>
        <content:encoded>{{ escape .Body }}</content:encoded>
        <pubDate>{{ rfc2822 .Date }}</pubDate>
        <guid isPermaLink="false">{{.UUID}}</guid>
    </item>
    {{- end }}
  </channel>
</rss>
